[buildout]
index = http://packages.lizardsystem.nl
extends =
    http://packages.lizardsystem.nl/kgs/latest.cfg
find-links =
unzip = true
prefer-final = true
socket-timeout = 1
show-picked-versions = true
extensions =
    mr.developer
parts =
#    sysegg
    test
    omelette
    console_scripts
    sphinx
develop = .
eggs =
    ddsc-incron
auto-checkout =
    ddsc-logging


[versions]
# Specific pins
billiard =
celery =
ddsc-incron =
kombu =
zc.buildout = 2.0.1
zc.recipe.egg = 2.0.0a3

# Reported by buildout.
pbp.recipe.noserunner = 0.2.6


[sources]
ddsc-logging= git git@github.com:ddsc/ddsc-logging.git


# [sysegg]
# # Add eggs here that are best handled through OS-level packages.
# recipe = osc.recipe.sysegg
# force-sysegg = true
# eggs =


[test]
recipe = pbp.recipe.noserunner
eggs =
    ddsc-incron
    ddsc-incron[test]
defaults = ddsc-incron


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    createcoverage
    pep8
    pyflakes
    zest.releaser


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}
